body,html{height: 100%;}
h1,h2,h3{font-family: 'Changa', sans-serif;}

.text-center{text-align: center;}
.text-white{color: #fff;}
.text-muted{color: #777;}
.text-justify{text-align: justify;}

#cabecalho
{
	display: table;
  position: relative;
  width: 100%;
  height: 100%;
  background-color: #2098d1;
  /*background: url(../img/fundo6.jpg) no-repeat center center scroll;*/
  -webkit-background-size: cover;
  background-position: center;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
  background-attachment:fixed;
}

	#cabecalho h1
	{
		font-size: 5em;
	}
	#cabecalho h2{font-size: 2em;}
#introducao
{
	 padding-top: 190px;
}

#link-portfolio
{
	padding-top: 100px;
}


/* PORTFOLIO */
#portfolio
{
	height: 100% auto;	
	padding-top: 40px;
	padding-bottom: 60px;
}

/* CONTATO */
#contato
{
	background-color: #222 ;
	height: 100% auto;
	padding-top: 40px;
	padding-bottom: 40px;
}

.img-efeito{
    -webkit-filter:grayscale(100%);
}
.img-efeito:hover{
    -webkit-filter:grayscale(0%);
    transition: all 0.5s ease-in-out;
}
